mixin card-simple(title, content)
	.card.card-simple
		h4 #{title}
		p #{content}


mixin card-img-big-right(title, content, imgSrc, href)
	.wrapper.col-12
		.card.card-img.card-img-big.card-big-right(style="background-image: url('#{imgSrc}')")
			a(href="#{href}")
				.card-text-wrapper.col-8.push-4
					h4 #{title}
					p #{content}

mixin card-img-big-left(title, content, imgSrc, href)
	.wrapper.col-12
		.card.card-img.card-img-big.card-big-left(style="background-image: url('#{imgSrc}')")
			a(href="#{href}")
				.card-text-wrapper.col-8
					h4 #{title}
					p #{content}


mixin card-img-small(title, imgSrc, href)
	.wrapper.col-12.col-6-m
		.card.card-img.card-img-small(style="background-image: url('#{imgSrc}')")
			.card-text-wrapper.col-12
				a(href="#{href}")
					h4 #{title}