mixin section-fl(title, text, bigImgSrc, bigImgAlt, smallImgSrc, smallImgAlt)
	section
		h2 #{title}
		p #{text}
		img.img-fls-big(src="#{bigImgSrc}", alt="#{bigImgAlt}")
		img.img-fls-small(src="#{smallImgSrc}", alt="#{smallImgAlt}")